<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <nav>
        <div>
            <span>Cadastro</span>
        </div>
    </nav>
    <form action="{% url 'listagem_usuarios' %}" method="post">
        {% csrf_token %}
    <div class="container">
        <h1>Cadastro de Usuários</h1>
        Nome <input name="nome" type="text">
        Idade <input name="idade" type="text">
        <button>Enviar</button>
    </div>
</form>
</body>
</html>